**
!package.json
!LICENSE
!NOTICE
!THIRD_PARTY_NOTICES.md
!third-party-licenses
!third-party-licenses/**
!TRADEMARK.md
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig*.json
!config/
!config/**
!packages/
!packages/**
!scripts/
!scripts/**
!examples/
!examples/industry/
!examples/industry/**
**/node_modules
**/lib
**/*.tsbuildinfo
**/.runtime
**/.env*
**/*.log
**/tests
**/.omc
